# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgresql://ronaldlow24:v2_3xvgY_dChZWrTJr7K5FiwjvyKuGFu@db.bit.io:5432/ronaldlow24.meeting-scheduler


SECRET_COOKIE_PASSWORD=JAuB6DFqmbe9fW8JARW1fpKm45AKeiTKjiMYTLLuHuReBvd0sP8j5sHfJje1qtiJNePNkGNMBJKFrhPjZtHLxE9Vgq89JtNRbuFW

MailSender=ron556611@gmail.com
MailHost=smtp-relay.sendinblue.com
MailPort=587
MailUserName=ron556611@gmail.com
MailPassword=dQrN9zJXRDtfhV5Y